.row
  .container
    .row
      .col-lg-3
        .card
          h5 IPSUM METRIC
          H2 205, 942
        
      .col-lg-3
        .card.no-padding
          div.subtle-padding.row.padding-bottom-zero
            .col-md-8
              h5 BLOG VISITS
              h2.no-margin 2, 914
            .col-md-4
              span.glyphicon.glyphicon-stats.stat-icon.green
              span.glyphicon.glyphicon-stats.stat-icon.green
          div.container-fluid
            .row
              .col-md-7
                h6.grey.no-margin last 7 days
              .col-md-5
                p.green.no-margin +15, 95%
          hr
          div.container-fluid
            .row
              .col-md-2
                h6 GOAL
              .col-md-7.v-centered
                .progress
                  .progress-bar(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;")
              .col-md-3
                h6 55%
                
      .col-lg-3
        .card.no-padding
          div.subtle-padding.row
            .col-md-7
              h5 HP VISITS
              h2.subtle-margin 5, 281
            .col-md-5
              span.glyphicon.glyphicon-stats.stat-icon.red
              span.glyphicon.glyphicon-stats.stat-icon.red
          div.container-fluid
            .row
              .col-md-7
                h6.grey last 7 days
              .col-md-5
                p.red -5, 915%


      .col-lg-3
        .card.no-padding
          div.subtle-padding.no-padding-bottom
            h5 INFINARIO VALUATION 
              span.grey (€)
            H2.subtle-margin 199, 806
          hr
          div.container-fluid
            .row
              .col-md-2
                h6 GOAL
              .col-md-7.v-centered
                .progress
                  .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
              .col-md-3
                h6 120%
