nav.navbar
  .container
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar")
        span.cr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a Dashboards / User Activity
    .collapse.navbar-collapse#navbar
      ul.nav.navbar-nav.navbar-right
        li
          a(href="") Live support
        li
          a(href="") User guides
        li
          a(href="") Notification Bell
        
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false") John Hamill
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="") Link 1
              a(href="") Link 2
