nav.navbar.border-bottom
  .container
    .navbar-header.header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar")
        span.cr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      span.glyphicon.glyphicon-menu-hamburger
        span &nbsp;
      a Dashboards &nbsp; &nbsp; / &nbsp;&nbsp;
        span.active-link User Activity
    .collapse.navbar-collapse#navbar
      ul.nav.navbar-nav.navbar-right.header
        li
          a(href="") Live support
        li
          a(href="") User guides
        li
          a(href="")
            span.glyphicon.glyphicon-bell
            span.notification-badge &nbsp;
        li.dropdown
          a.dropdown-toggle.active-link(data-toggle="dropdown" role="button" aria-expanded="false") John Hamill &nbsp;&nbsp;
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="") Link 1
              a(href="") Link 2


nav.navbar
  .container
    .navbar-header.padding-bottom
      span.glyphicon.glyphicon-arrow-left
        span &nbsp;

      .btn-group.margin-right
        button.btn.btn-default.btn-sm.dropdown-toggle.active-link(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") User activity &nbsp; &nbsp;
          span.caret
      span &nbsp;
      button.btn.btn-default.btn-sm(type="button") Filters (0)


    .collapse.navbar-collapse#navbar
      ul.nav.navbar-nav.navbar-right.margin-top
        li
          .btn-group.margin-right
            button.btn.btn-default.btn-sm.refresh-button(type="button" data-toggle="dropdown") Refresh
            button.btn.btn-default.btn-sm.dropdown-toggle.refresh-button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              span.caret
              span.sr-only
        li
          button.btn.btn-default.btn-sm.margin-right(type="button") Edit
        li
          button.btn.btn-default.btn-sm.margin-right(type="button")
            span.glyphicon.glyphicon-option-horizontal
